body {
  background-color: olive;
  font-size: 24px;
  font-family: "Roboto", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
}

.current-project {
  font-weight: bold;
}
.hidden {
  display: none;
}

.projects-container {
  background-color: aliceblue;
  padding: 1em;
}

.project-name {
  margin: 1em 2em 1em 2em;
}

.new-task-btn {
  margin-left: 0.75em;
}

.project-name:hover {
  cursor: pointer;
  color: blue;
}

.tasks-container {
  margin-left: 0.5em auto;
}

.task,
.temp-task,
dialog input {
  box-sizing: border-box;
  font-size: 0.8em;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  text-overflow: ellipsis;
  margin: 0.25em 0.5em;
  padding: 0.25em;
  flex: 1;
}

.task:focus {
  font-style: italic;
  color: rgba(0, 0, 0, 0.65);
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.65);
}

.task-item {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

.task-details {
  display: flex;
  flex-direction: column;
}

.task-buttons {
  display: flex;
  gap: 0.25em;
  align-items: center;
  margin-right: 2em;
}

.project {
  padding: 0.5em;
  /* border: 1px solid black; */
  background-color: rgb(167, 204, 230);
  margin: 1em auto;
  border-radius: 10px;
}

#new-project-btn {
  position: sticky;
  bottom: 100px;
}
